@import "../variables.scss";

.cv__experience {
  grid-area: experience;
  &-list {
    padding: 0 60px 0 30px;
    text-align: left;
    border-left: 2px solid $lightGray;
    list-style: none;
  }
  &-item {
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #000;
      border-radius: 50%;
      left: -38px;
      top: 5px;
    }
    h4 {
      @include smallTitle;
    }
    p {
      @include regularText;
    }
    &-subtitle {
      margin-bottom: 10px !important;
    }
  }
}
