@import "~normalize.css";
@import "./variables.scss";
@import "./sections/image.scss";
@import "./sections/overview.scss";
@import "./sections/contact.scss";
@import "./sections/education.scss";
@import "./sections/skills.scss";
@import "./sections/experience.scss";
@import "./sections/award.scss";
@import "./sections/reference.scss";

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  background-color: $lighterGray;
}

.App {
  text-align: center;
  padding: 50px 0;
}

.cv__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;  
  gap: 20px;
  align-items: end;
}

.options-btn {
  margin-bottom: 20px;
  display: block;
  background-color: #fff;
  box-shadow: $regularShadow;
  border: 0;
  width: 250px;
  padding: 15px 10px;
  text-align: left;
  cursor: pointer;
  @include regularTitle;
  @include grayOnHover;
  text-transform: capitalize;
}

.cv {
  flex: 1 1 0;
  background-color: #fff;
  box-shadow: $regularShadow;
  text-align-last: left;
  padding: 30px;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__main {
    margin-bottom: 30px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 27% 67%;
    grid-template-areas: 'contact experience'
                         'education experience'
                         'skills experience';
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
}

.section {
  position: relative;
  cursor: pointer;
  @include grayOnHover;
  &:hover {
    .edit__btn {
      display: block;
    }
  }
}
.section__popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 2;
  background-color: rgba(#000, .5);
  cursor: default;
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-content {
    padding: 30px;
    background-color: #fff;

    min-width: 500px;
  }
  &-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 0 30px;
  }
  &-formGroup {
    display: flex;
    justify-content: space-between;
    gap: 20px;

  }
  &-inputContainer,
  &-textareaContainer {
    margin-bottom: 20px;
  }
  &-buttons {
    display: flex;
    justify-content: end;
    gap: 15px;
    border-top: 1px solid $regularGray;
    padding-top: 20px;
    margin-top: 30px;
    button {
      font-weight: 700;
      font-size: 1rem;
      border-radius: 3px;
      padding: 15px 50px;
      cursor: pointer;
      
    }
  }
  &-label {
    display: block;
    @include regularText;
  }
  
  &-input,
  &-textarea {
    padding: 5px;
    box-sizing: border-box;
  }
  &-input {
    width: 100%;
  }
  &-textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
  &-cancel {
    background-color: #fff;
    border: 1px solid $regularGray;
    &:hover {
       background: darken(#fff, 5%); 
    }
  }
  &-save {
    background-color: #440ccc;
    color: #fff;
    border: none;
    &:hover {
        background: darken(#440ccc, 5%);
    }
  }
}

.edit__btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #f0f0f0;
  border: 1px solid $regularGray;
  width: 30px;
  height: 30px;
  padding: 3px;
  display: none;
  img {
    width: 100%;
    height: 100%;
  }
}

.regular__title {
  @include regularTitle;
}